.nav_items {
    flex-basis: 80%;
}

.main-grid__h1 {
    font-family: 'Londrina Solid', cursive;
}

.main-grid__info--title {
    font-family: 'Anton', sans-serif;
}

.main-grid {
    background-image: url("./../../assets/images/audiencia.jpg");
    background-size: cover;
}

